Source: haskell-unixutils
Priority: optional
Section: misc
Maintainer: David Fox <dsf@seereason.com>
Build-Depends: debhelper (>= 5.0),
               haskell-devscripts-cdbs,
               cabal-debian (>= 0.7),
               ghc6 (>= 6.8),
               ghc6-doc,
               haddock,
               ghc6-prof,
               libghc6-parallel-prof,
               libghc6-parallel-doc,
               libghc6-regex-compat-prof,
               libghc6-regex-compat-doc
Standards-Version: 3.7.2.2
Homepage: http://src.seereason.com/haskell-unixutils

Package: libghc6-unixutils-dev
Architecture: any
Section: libdevel
Depends: ${haskell:Depends}
Description: A crude interface between Haskell and Unix-like operating systems
  A collection of useful and mildly useful functions that you might
  expect to find in System.* which a heavy bias towards Unix-type operating systems.
  .
  Author: Jeremy Shaw, David Fox
  Upstream-Maintainer: jeremy@seereason.com
  .
  This package contains the normal library files.

Package: libghc6-unixutils-prof
Architecture: any
Section: libdevel
Depends: ${haskell:Depends}
Description: A crude interface between Haskell and Unix-like operating systems
  A collection of useful and mildly useful functions that you might
  expect to find in System.* which a heavy bias towards Unix-type operating systems.
  .
  Author: Jeremy Shaw, David Fox
  Upstream-Maintainer: jeremy@seereason.com
  .
  This package contains the libraries compiled with profiling enabled.

Package: libghc6-unixutils-doc
Architecture: any
Section: libdevel
Depends: ${haskell:Depends}
Description: A crude interface between Haskell and Unix-like operating systems
  A collection of useful and mildly useful functions that you might
  expect to find in System.* which a heavy bias towards Unix-type operating systems.
  .
  Author: David Fox
  Upstream-Maintainer: jeremy@seereason.com
  .
  This package contains the documentation files.
