Source: haskell-unixutils
Priority: optional
Section: devel
Maintainer: Jack Donaldson <jack.donaldson@freespire.org>
Build-Depends: debhelper (>= 4.0.0), haskell-devscripts (>=0.6.6), ghc6 (>=6.4), ghc6-prof, libghc6-regex-compat-dev, libghc6-regex-compat-prof, libghc6-parallel-dev, libghc6-parallel-prof
Build-Depends-Indep: haddock, hugs (>= 98.200503.08), ghc6-doc, libghc6-regex-compat-doc, libghc6-parallel-doc
Standards-Version: 3.7.2.0

Package: libghc6-unixutils-dev
Architecture: any
Section: libdevel
Depends: ${haskell:Depends}
Description: A crude interface between Haskell and Unix-like operating systems
  A collection of useful and mildly useful functions that you might
  expect to find in System.* which a heavy bias towards Unix-type operating systems.
  .
  Author: Jeremy Shaw, David Fox
  Upstream-Maintainer: jeremy@seereason.com
  .
  This package contains the normal library files.

Package: libghc6-unixutils-prof
Architecture: any
Section: libdevel
Depends: ${haskell:Depends}
Description: A crude interface between Haskell and Unix-like operating systems
  A collection of useful and mildly useful functions that you might
  expect to find in System.* which a heavy bias towards Unix-type operating systems.
  .
  Author: Jeremy Shaw, David Fox
  Upstream-Maintainer: jeremy@seereason.com
  .
  This package contains the libraries compiled with profiling enabled.

Package: libghc6-unixutils-doc
Architecture: any
Section: libdevel
Depends: ${haskell:Depends}
Description: A crude interface between Haskell and Unix-like operating systems
  A collection of useful and mildly useful functions that you might
  expect to find in System.* which a heavy bias towards Unix-type operating systems.
  .
  Author: David Fox
  Upstream-Maintainer: jeremy@seereason.com
  .
  This package contains the documentation files.
