Source: haskell-unixutils
Priority: optional
Section: devel
Maintainer: Jack Donaldson <jack.donaldson@freespire.org>
Build-Depends: debhelper (>= 4.0.0), haskell-devscripts (>=0.6.6), ghc6 (>=6.4), ghc6-prof, libghc6-regex-compat-dev, libghc6-regex-compat-prof, libghc6-parallel-dev, libghc6-parallel-prof
Build-Depends-Indep: haddock, hugs (>= 98.200503.08), ghc6-doc, haskell-regex-compat-doc, libghc6-parallel-doc
Standards-Version: 3.7.2.0

Package: libghc6-unixutils-dev
Section: libdevel
Architecture: any
Depends: ${haskell:Depends}, libghc6-regex-compat-dev, libghc6-parallel-dev
Description: A crude interface between Haskell and Unix-like operating systems
 Includes functions for mount, umounting, kill processes, safe
 recursive deletes, and more.
 .
 This package contains the libraries compiled for GHC 6.

Package: libghc6-unixutils-prof
Section: libdevel
Architecture: any
Depends: ${haskell:Depends}, libghc6-unixutils-dev, libghc6-regex-compat-prof, libghc6-parallel-prof
Description: A crude interface between Haskell and Unix-like operating systems
 Includes functions for mount, umounting, kill processes, safe
 recursive deletes, and more.
 .
 This package contains the libraries compiled for GHC 6 with profiling
 enabled.

Package: haskell-unixutils-doc
Section: doc
Architecture: all
Depends: ghc6-doc, libghc6-base-doc
Description:  A crude interface between Haskell and Unix-like operating systems
 Includes functions for mount, umounting, kill processes, safe
 recursive deletes, and more
 .
 This package contains the documentation.
